.highScores{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.highScores .back{
    position: absolute;
    left: 50px;
    top: 25px;
    font-size: 22px;
    background-color: #e33d5b;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
}
.highScores .back a svg{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
table{
    margin: 0 auto;
}
table th, td {
    padding: 15px;
    font-weight: bold;
}
table thead{
    background-color: #292a30;
}
table tbody tr{
    background-color: #5f6270;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
table tbody tr:hover{
    background-color: #292a30;
}